@font-face {
    font-family: 'ALS Hauss';
    src: url('ALSHauss-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ALS Hauss';
    src: url('ALSHauss-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

